@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RENT-A-MOVIE</h1>
    <p class="lead">Vacation is a play button away.</p>
</div>

<div class="text-center">
    <div class="col-md-6">
        <h2>MOVIES</h2>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Browse All" onclick="location.href='@Url.Action("Index", "Movie")'" class="btn btn-primary"/>
            <input type="button" value="--Select Genre--" class="btn btn-primary" />
          @*  @Html.DropDownList("GenreId",ViewBag.Genre as IEnumerable<SelectListItem>, "--Select Genre--")*@
        </div>
    </div>
    <div class="col-md-6">
        <h2>CUSTOMERS</h2>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Search" onclick="location.href='@Url.Action("Index", "Customer")'" class="btn btn-primary" />
            <input type="button" value="Add" onclick="location.href='@Url.Action("Add", "Customer")'" class="btn btn-primary" />
        </div>
    </div>
</div>
